/*
Author: Joshua Duvnjak
Description: CSS to handle the formatting on each page
			 The code was developed using resources from various sources
			 Much of it will be altered to fit the needs of the website
			 
*/


/*** Code on everypage, default is desktop  ***/

/*W3 code*/
html {
	scroll-behavior:  smooth;
}

/* The body encompasses all defaults before much advanced formatting*/
body {
	/* set the default width of the page */
	/* Duckett (2011) code */
	width: 100%;
	margin: 0 auto;
	/* Code to utalised online fonts, Google Fonts code */
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-align: center;

	/*W3 code */
	font-size: 1.4vw;
	
	overflow-y: scroll;
	overflow-x: hidden;
	
	/* Set bullet point style */
	/*W3 code */
	ul {
		list-style-type: circle;
	}
	
	/* Set the default image style */
	img {
		/* like W3 code */
		height: auto;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		display: flex;
		margin-left: 5%;
	}
	
	/* Articles are the sections of the page */
	/* Code from w3 */
	article p {
		overflow: auto;
	}
	
	h1 {
	
	text-align: center;
	text-shadow: 2px 2px #cccccc;
	
	/* Set a different font for the headings, Google fonts code */
	font-family: "Kanit", sans-serif;
	font-weight: 400;
	font-style: normal;
	}
	
	/*Remove styling for links */
	a:link {
	text-decoration:none;
	}

}






/** Content "section" CSS, used to customised individual sections of content **/
#footer {
	text-align: center;
	background-color: #262626;
	color: #ffffff;
	padding: 0.1%;
}

#linkedinFeed {
	height: 70%;
}

#introductionHome {
	h1 {
		/*W3 code */
		text-shadow: none;
	}

	/*W3 code */
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("Images/introduction.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	
	text-align: left;
	color: #ffffff;
}

#introductionText {text-align:center;}

#portfolioHome {
	h1 {
		/*W3 code */
		text-shadow: none;
		text-align: left;
	}

	/*W3 code */
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("Images/portfolio.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	
}

#contactMe {
	background-color: #68afd4;
	
	h1 {
		/*W3 code */
		text-shadow: 1px 1px #000000;
	}
}

#updates {
	background-color: #556B2F;

	/*W3 code */
	h1 {
		text-shadow: 1px 1px #eeeeee;
	}
}

#trivia {
	background-color: #ffad00;
	
	h1 {
		/*W3 code */
		text-shadow: 1px 1px #000000;
	}
}

#CurriculumVitae {
	background-color: #556B2F;
	/*W3 code */
	h1 {
		text-shadow: 1px 1px #000000;
	}
}

#potraitImage{
	position: relative;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	right: 5%;

}

#portFolio1 {
	img {
		/* like W3 code */
		height: 80%;
		margin: 1px;
		display: inline-block;
		margin-left: 5%;
		
	}
}


#portFolio2 {
	background-color: #ff6666;
	color: #ffffff;
	
	img {
		/* like W3 code */
		height: 70%;
		margin: 1px;
		display: inline-block;
		margin-left: 5%;
		
	}
	
	h1 {
		text-shadow: 1px 1px #000000;
	}
}

#portFolio3 {
	
	background-color: #194C7E;
	color: #ffffff;
	
	img {
		/* like W3 code */
		height: 70%;
		margin: 1px;
		display: inline-block;
		margin-left: 5%;
		
	}
	
	h1 {
		text-shadow: 1px 1px #000000;
	}
}

#portfolioText{
	p {
		/*w3 code*/
		vertical-align:text-top;
		
		width: 50%;
		display: inline-block;
		text-align: left;
		white-space: normal;
		margin-right: 4%;
	}
}



/* within page nav "buttons" */
.pageNav :hover {
	color: #68afd4;
}

.pageNav {
	border-bottom: 10px black;
	font-family: "Kanit", sans-serif;
	background-color: #f2f2f2;

}

.colOne, .colTwo, .colThree {
	/* Duckett (2011) code */
	width: 30.3%;
	float: left;
	margin: 0.1%;
	text-align: center;

}

.colThree {
	/* Duckett (2011) code */
	margin-right: 0%;
}



/**Article style and column formatting, code from W3 **/
.artRow {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #e8e6e6;
}

.artCol {
	top: 5%;
	position: relative;
	flex: 50%;
	height: 100%;
	overflow: hidden;
	margin-left: 5%;
	margin-right: 5%;

}

.artCol p {
	width: 99%;
}

.artBack {
	position: relative;
	top: 20%;
	left: 5%;
	width: 90%;
	height: 60%;
	display: flex;
	background-color: #ffffff;
	border-radius: 50px;
	
	/*w3 shadow code */
	box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.3), 0 1px 1px 0 rgba(0,0,0,0.3); 

}

/** RespNav is the responsive naviagtion bars styling, some code from W3 **/


.respNav {
	background-color: #262626;
	overflow: hidden;
	font-family: "Kanit", sans-serif;
	border-bottom: 2px solid black;
}

/* The non: expanded navation bars options */
.respNav a {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 0.2%;
	padding-left: 1%;
	padding-right: 1%;
	margin: 0.4%;
	/* Some code from W3 **/
	border-radius: 50px;
	background: #e6ffff;
	/*w3 shadow code */
	box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.3), 0 1px 1px 0 rgba(0,0,0,0.3); 
}
	
/* mouse hover over option */	
.respNav a:hover {
	background-color: #3399ff;
	color: #ffffff;
}

/*current page */
#current {
	background-color: #68afd4;
	color: #ffffff;
}



/* set the nav to be in the right on non mobile */
.respNav a.first {
	margin-left: 20%;
} 	
	
/* CSS to hide responsive menu button */	
.respNav .icon {
	display: none;
}

#NavHeader {
	/* set the nav to be in the center on non mobile */
	margin-left: 25%;
	
	font-family: "Kanit", sans-serif;
	font-size: 1.4vw;
	background: none;
	color: #ffffff;
	
}

/** Portfolio specific code **/
#portfolioBody {
	position: relative;
	top: 1%;
	float: left;
	height: 90%;
	margin-left: 5%;
	margin-right: 5%;
	/* W3 Code */
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
}

/* W3 code */
.imageGallery {
	padding: 10px;
	display: inline-block;
	height:40%;
	
}

div.imageGallery {
		padding: 1%;
		}


/** Responsive navigation code for mobile, some code from W3 **/	
@media screen and (max-width: 800px) {
	.respNav a:not(:first-child) {display: none;}
	
	.respNav a.icon {
		float: right;
		display: block;
		font-size: 10vw;
		border-radius:10px;
		background: #68afd4;
	}

	
	#main {
		font-size: 7vw;
	}
	
	.pageNav {
	background-color: #ffffff;
	height: auto;
	font-size: 11vw;
	position: fixed;
	/* w3 code */
	z-index: 10;
	width: 100%;
	bottom: 0px;
	opacity: 0.9;
	padding: 1%;
	border-top: 2px solid black;
	}
	
	
	.respNav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.respNav a {
		border-radius: 0px;
		background: #ffffff;
		margin:0px;
	}
	
	.respNav.responsive a {
		z-index: 10;
		float: none;
		display: block;
		text-align: left;
	}
	
	
	
	#NavHeader {
		margin-left: 0%;
		margin-left: 0%;
		font-size: 7vw;
		border-radius: 50px;
	} 
	
	.respNav a.first {
	margin-left: 0%;
	} 	
	
	.artRow {
		flex-wrap: wrap;
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #e4e4e4;
}

	.artBack {
		top: 5%;
		
		flex-wrap: wrap;
		display: flex;
		height: 90%;

}
	
	.artCol {

		margin: 1%;
		padding: 0%;
		left: 0%;
		top:0%;
		width: 100%;
		/*w3 values */
		height: 50%;
		overflow: hidden;
	}
	
	
	
	body {
		font-size: 4vw;
		text-align: center;
		img {
		/* like W3 code */
		height: auto;
		max-width: 100%;
		max-height: 100%;
		}
	}
	
	#introductionHome {
	/*W3 code */
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("Images/introduction.jpg");
	background-repeat: no-repeat;
	position: relative;
	text-align: center;
	background-size: cover;
	}
	
	#introductionText {
	position: relative;
	top: 25%;
	height: 40%;
	overflow: hidden;
	margin-left: 5%;
	margin-right: 5%;
	/* W3 Code */
	text-align: center;
	}
	
	#footer {padding-bottom: 15%;}
	
	#potraitImage{
		position: relative;
		/*object fit from w3 */
		object-fit: cover;
		
		height: 40%;
		width: 100%;
		right: 0px;
		margin: 0px;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 50px;
	}
	
	#top{
		margin-top: 5%;

	}
	#linkedinFeed {
	height: 80%;
	}
	
	#textLink {
	display: none;
}
}


